<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>nibbana_test.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>41F3CBE1A088BA7CFFB3F76641FB88CFAEB8EDD4</string>
				<key>dateExpires</key>
				<string>12/10/21</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>41F3CBE1A088BA7CFFB3F76641FB88CFAEB8EDD4</string>
						<key>dateExpires</key>
						<string>12/10/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9LB7CZ5BR2</string>
						<key>name</key>
						<string>Brandi Wattage</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>41F3CBE1A088BA7CFFB3F76641FB88CFAEB8EDD4</string>
						<key>dateExpires</key>
						<string>12/10/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9LB7CZ5BR2</string>
						<key>name</key>
						<string>Brandi Wattage</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>41F3CBE1A088BA7CFFB3F76641FB88CFAEB8EDD4</string>
						<key>dateExpires</key>
						<string>12/10/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>flutter_launch.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9LB7CZ5BR2</string>
						<key>name</key>
						<string>Brandi Wattage</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>41F3CBE1A088BA7CFFB3F76641FB88CFAEB8EDD4</string>
						<key>dateExpires</key>
						<string>12/10/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>shared_preferences.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9LB7CZ5BR2</string>
						<key>name</key>
						<string>Brandi Wattage</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>41F3CBE1A088BA7CFFB3F76641FB88CFAEB8EDD4</string>
						<key>dateExpires</key>
						<string>12/10/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>url_launcher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9LB7CZ5BR2</string>
						<key>name</key>
						<string>Brandi Wattage</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>41F3CBE1A088BA7CFFB3F76641FB88CFAEB8EDD4</string>
						<key>dateExpires</key>
						<string>12/10/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>webview_media.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9LB7CZ5BR2</string>
						<key>name</key>
						<string>Brandi Wattage</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>9LB7CZ5BR2.com.nibbanaapp.com</string>
				<key>com.apple.developer.team-identifier</key>
				<string>9LB7CZ5BR2</string>
				<key>get-task-allow</key>
				<true/>
				<key>keychain-access-groups</key>
				<array>
					<string>9LB7CZ5BR2.com.nibbanaapp.com</string>
				</array>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>69c1b16a-8bb4-4950-97a4-613adc89d410</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: com.nibbanaapp.com</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>9LB7CZ5BR2</string>
				<key>name</key>
				<string>Brandi Wattage</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
